* {
    margin: 0;
}

header {
    height: 100vh;
    background: url(img/pexels-james-wheeler-414612.jpg) rgba(255, 123, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
}

body {
    text-align: center;
}

.container {
    width: 379px;
    color: azure;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.text-header {
    padding-top: 60%;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.social a {
    font-size: 35px;
    color: azure;
    margin: 40px 15px;
}